<%- include("templates/header") %>

<style>
  .bordered-heading {
    border: 1px solid black;
    padding: 8px;
    margin: 0;
  }

  .centered-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    max-width: 600px; /* Increase the max-width for a longer form */
    margin: 0 auto; /* Center the form horizontally */
    background-color: #ffffff; /* Set the initial background color */
  }

  .form-container {
    width: 80%; /* Adjust the width of the form container */
    padding: 16px;
    border-radius: 5px;
    background-color: white; /* Set the background color of the form container */
  }

  .form-container p {
    margin: 0;
    font-size: 14px;
  }

  .form-container h1 {
    margin: 8px 0;
    font-size: 18px;
  }

  .form-container hr {
    margin: 16px 0;
  }

  .form-container .fs-5 {
    font-size: 14px;
    text-align: center; /* Center the text within the fs-5 class */
  }

  .form-container .section {
    margin-top: 8px;
  }

  .section.highlight {
    background-color: #f8f9fa;
    border: 2px solid #343a40;
    border-radius: 5px;
    padding: 12px; /* Increase the padding for wider boxes */
  }

  .box-title {
    
    font-weight: bold;
    font-size: 14px;
    margin: 0;
  }

  .card-holder {
    border: 1px solid #00CED1;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 16px;
  }

  .card-holder1 {
    border: 1px solid #00CED1;
    border-radius: 5px;
    padding: 12px;
    margin-bottom: 16px;
    height : 70px;
  }

  .w-100.btn {
    font-size: 14px;
    padding: 8px;
  }

  /* Increase the width of the input fields */
  input[type="text"],
  input[type="email"] {
    width: 100%;
  }

  /* Override text-align for specific elements */
  .center-text {
    text-align: center;
  }

  /* Align username field to the left */
  .left-align {
    text-align: left;
  }
</style>



<style>
  * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

.container1 {
  margin: 40px auto;
  width: 200px;
  height: 200px;
  position: relative;
  background: #EAEBE1;
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
}

.container1 .bag {
  position: absolute;
  background: #C39A6F;
  height: 100px;
  width: 120px;
  top: 100px;
  left: 40px;
  z-index: 10;
}

.container1 .bag:before {
  content: " ";
  display: block;
  position: absolute;
  top: -10px;
  left: 0px;
  width: 100%;
  height: 32px;
  z-index: 10;
  background: linear-gradient(45deg, transparent 33.333%, #C39A6F 33.333%, #C39A6F 66.667%, transparent 66.667%), linear-gradient(-45deg, transparent 33.333%, #C39A6F 33.333%, #C39A6F 66.667%, transparent 66.667%);
  background-size: 10px 20px;
}

.container1 .bag-shadow {
  position: absolute;
  border-left: 100px solid transparent;
  border-bottom: 110px solid #B88B65;
  top: 90px;
  left: 60px;
  z-index: 10;
}

.container1 .orange {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  z-index: 5;
}

.container1 .green {
  background: #8FAC72;
}

.container1 .red {
  background: #ED7547;
}

.container1 .banana {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  z-index: 5;
}

.container1 #g1 {
  top: 75px;
  left: 50px;
  box-shadow: 60px 0px 0 0 #8FAC72;
}

.container1 #g2 {
  right: -5px;
}

.container1 #r1 {
  top: 75px;
  left: 90px;
}

.container1 #b1 {
  top: 55px;
  left: 45px;
  box-shadow: 10px 10px 0 0 #E7B659;
}

.container1 #b2 {
  box-shadow: -15px 0px 0 0 #E7B659;
  top: 75px;
  right: 12px;
}

.container1 #b3 {
  box-shadow: 5px -10px 0 0 #E7B659;
}

.container1 .trans {
  position: absolute;
  width: 100px;
  height: 120px;
  background: transparent;
}

.container1 #t1 {
  left: -20px;
  animation: clockwise 2s infinite;
}

.container1 #t2 {
  left: 0px;
  animation: clockwise 3s infinite;
}

.container1 #t3 {
  right: 0px;
  animation: counter-clockwise 2.5s infinite;
}

@keyframes clockwise {
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(180deg);
    opacity: 0;
  }
}

@keyframes counter-clockwise {
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(-180deg);
    opacity: 0;
  }
}

</style>

<h1
class="text-center"
style="
  background-color: #00ced1;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  color: #ffffff;
"
>
Profile
</h1>

<div class="container" style="max-width: 800px; margin-top: 20px">

<div class="container1">
  <div class="bag"></div>
  <div class="bag-shadow"></div>
  <div class="orange green" id="g1"></div>
  <div class="orange red" id="r1"></div>
  <div class="banana" id="b1"></div>
  <div class="banana" id="b2"></div>
  <div class="trans" id="t1">
    <div class="orange red"></div>
  </div>
  <div class="trans" id="t2">
    <div class="banana" id="b3"></div>
  </div>
  <div class="trans" id="t3">
    <div class="orange green" id="g2"></div>
  </div>
</div>


<div class="centered-form">
  <div class="form-container" >
    <form method="POST" action="/login">

      <div class="card-holder">
        <p class="left-align">Username:</p>
        <h1 class="bordered-heading left-align"><%= username %></h1>
      </div>

      <div class="card-holder">
        <p>Email:</p>
        <h1 class="bordered-heading left-align"><%= email %></h1>
      </div>

      <div class="card-holder">
        <div class="section">
          <p>Date of Birth:</p>
          <div>
            <h1 class="bordered-heading left-align" placeholder="Below">Date: <%= dateOfBirth %></h1>
          </div>
        </div>
      </div>

      <hr>

      <div class="card-holder1 section highlight">
        <div class="d-grid gap-2">
          <a href="/kitchen" class="btn rounded-pill px-3" style="margin-bottom: 50px; background-color: #00CED1; color: #FFFFFF;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
              <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
            </svg>&nbsp;Kitchen
          </a>
        </div>
      </div>
      
      <div class="card-holder1 section highlight">
        <div class="d-grid gap-2">
          <a href="/settings" class="btn rounded-pill px-3" style="margin-bottom: 50px; background-color: #00CED1; color: #FFFFFF;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
              <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
              <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291a1.873 1.873 0 0 0-1.116-2.692l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094a1.873 1.873 0 0 0 1.115-2.693l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
            </svg>&nbsp;Settings
          </a>
        </div>
      </div>
      

    </form>
  </div>
</div>
</div>

<%- include("templates/footer") %>
