      <div class="col">
        <div class="card shadow-sm">
          <div class="ingredient-card" onclick="addToIngredientList('<%= ingredient.name %>'); sendIngredientName('<%= ingredient.name %>')">
            <img src="<%= url %>" class="bd-placeholder-img card-img-top" width="100%" height="200" alt="<%= ingredient.name %>">          
            <div class="card-body" style="text-align: center;">
              <p class="card-text"><%= ingredient.name %></p>
            </div>
          </div>
        </div> 
      </div>

      <script>
        // Function to send ingredient name to the server
        function sendIngredientName(ingredientName) {
          fetch('/getList', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ ingredientName }),
          })
            .then(response => response.json())
            .then(data => {
              // Handle the response from the server
              console.log(data);
            })
            .catch(error => {
              console.error('Error:', error);
            });
        }
      </script>


